*/.ipynb_checkpoints/*
Assignment2/runs/
data/mnist/
data/fashionmnist/
data/cifar10/
Assignment2/cifar-10-batches-py/
Assignment2/lightning_logs/
*/__pycache__/*
./__pycache__/*
__pycache__/*
.ipynb_checkpoints/*
**.pyc
**.pkl
**.gml
**.gz
